.current-menu-item {
    color: dodgerblue !important
}

.uk-link-heading:hover {
    color: #AAA !important;
    transition: color 100ms ease-in-out;
}

.uk-link-heading.front-page-category-heading:hover {
    color: #555 !important;
    transition: color 100ms ease-in-out;
}

.post-featured-image-link img {
    width: 300px !important;
    height: 200px !important;
}

hr, .uk-grid-divider.uk-grid-stack>.uk-grid-margin::before {
    border-top: 1px solid #BBB;
}

.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 1px solid #BBB;
}

.uk-article + .uk-article {
    vertical-align: top;
    margin-top: 0;
}

a.uk-article-title {
    font-size: 1.5rem;
    color: black;
}

a.uk-article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

span[uk-icon='calendar'], span[uk-icon='search'] {
    color: black;
    vertical-align: bottom;
    margin: 0 3px;
}

@media only screen and (min-width: 960px) {
    .left-div {
        border-right: 1px solid black;
        padding-right: 2rem
    }
    .categories-text-align {
        text-align: start;
    }
}

@media only screen and (max-width: 960px) {
    .categories-text-align {
        text-align: center;
    }
    .post-featured-image-link img {
        width: 100% !important;
        height: auto !important;
    }
    .uk-article {
        text-align: center;
        margin-bottom: 1rem !important;
    }
    * {
        text-align: start !important;
    }
    .read-more {
        margin-bottom: 1.5rem;
    }
    .uk-panel img {
        width: 100% !important;
        height: auto !important;
    }
}

/* Single.php */

.post-actions {
    position: fixed;
    top: 50%;
    left: 13%;
    color: black;
}

.post-actions div {
    margin: 1rem 0
}

@media only screen and (min-width: 960px) {
    .blog-content {
        padding: 4rem 2rem;
        background-color: rgb(233,233,233)
    }
}

@media only screen and (max-width: 960px) {
    .blog-content {
        text-align: center !important;
        padding: 1rem;
        padding-left: 3rem;
        background-color: rgb(233,233,233);
    }
}